{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card shadow-sm p-4 mb-4 bg-white rounded">
        <h2 class="text-center text-primary mb-4">Kitob ma'lumotlarini yangilash</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ forms }}
            </div>
            <div>
                <button class="btn btn-success">Saqlash</button>
                <a class="btn btn-danger" href="{% url "home" %}">Bekor qilish</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}